/* commmon code start */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
/* font-family: 'Jost', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */



/* navbar start */

.navbar-01, .navbar {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(picture/banner1.jpg) no-repeat;
	z-index:1;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 0px;
    padding-right: 0px;
    transition: .5s linear;
    position: relative;
}

.navbar-01 .header-content{
	color: #fff;
}





/* navbar end */

/* about section start */
.container{
	height: 100%;
	
}

.about-container{
	margin-top: 3rem;
	
}
.row .about-content h5{
	font-size: 16px;
	font-weight: 500;
	color: #707070;
}

.row .about-content h1{
	font-size: 37px;
	font-weight: 600;
	color: #404044;
	margin-bottom: 1rem;
	
}
.row .about-content p{
	font-size: 20px;
	font-weight: 400;
	color: #707070;
}

.row .list-inline{
	font-size: 20px;
	font-weight: 700;
	color: #404044;
	
}
/* about section end */



/* service section start */



.heading h3{
	font-size: 40px;
	color: #404044;
	padding: 2rem;
	
}


.content{
	font-size: 40px;
	color: #007e6a;
	
}
.row h5{
	font-size: 22px;
	color: #007e6a;
	margin-top: 1rem;
	margin-bottom: 1rem;

}
.row p{
	font-size: 18px;
	color: #707070;
}

/* service section end */


/* skills section start */

.row h6{
	font-size: 16px;
	font-weight: 500;
	color: #707070;
}

.row h3{
	font-size: 38px;
	font-weight: 500;
	color: #404044;
}

.row p{
	font-size: 18px;
	font-weight: 400;
	color: #707070;
}

.progress{
	color: #007e6a;
}
/* skills section end */




/* support section start */

.row i{
	color: #007e6a;
	font-size: 28px;
}

/* support section end */




/* number section start */


/* number section end */




/* success section start */
.img-block{
	position: relative;
}
.img-content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #000;
	opacity: 0;
	transition: 1s linear;
	background: linear-gradient(rgba(175, 155, 208, 0.5), rgba(175, 155, 208, 0.5));
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(175, 155, 208, 0.5), rgba(175, 155, 208, 0.5));
}
.img-block:hover .img-content{
	opacity: 1;
}
/* success section end */



/* brand section start */
.container-fluid .carousel-inner{
	background: #397F6A;

}

/* brand section start */

/* footer section start */
.container-fluid .footer{
	background: #061F25;
	
}
.logo{
	color: #fff;
	font-size: 2rem;
	
}
.footer .contact{
	color: #fff;
}
/* footer section end */



